* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    margin-inline: 5px;
}

main {
    margin-inline: auto;
    border: thin solid black;
    max-width: 1400px;
}

h1 {
    text-align: center;
    margin-top: 0.3%;
    margin-inline: 0.3%;
}

p {
    margin-inline: 0.3%;
}

iframe {
    width: 100%;
    margin-bottom: 0.3%;
    margin-inline: auto;
}